---
// src/pages/index.astro
import Layout from '../layouts/testLayout.astro';
import '../styles/global.css';
import { Image } from 'astro:assets';
import myImage from "../image/Dsuke icon.png";
import Nav from '../components/nav.astro';
import Slider from '../components/slider.astro';
const allPosts = await Astro.glob('./news/posts/*.md');
// 日付でソートして、最新順に並べる
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime());
// 記事が5件未満の場合でもエラーが発生しないようにスライス
const recentPosts = sortedPosts.slice(0, Math.min(sortedPosts.length, 5));
---
<Layout title="Dsuke">
  <section id="about"> 
    <div class="wrapper">
      <div class="column dsukeImg rounded-lg shadow-2xl">
        <Image src={myImage} alt="Dsuke"/>
      </div>
      <div class="column dsukeAbout">
        <div class="info">
          <h2 class="section-title">About &quot;Dsuke&quot;</h2>
          <p class="py-6">
            Composer and solo guitarist.<br>
            Dsuke has been playing solo guitar since he was 12 years old, and his acoustic sound is a fusion of electro, EDM, and dance music, creating a pleasant and emotional sound.
Inspired by a wide range of genres such as instrumental, rock, electro, and dance music, he sublimates his experience playing various instruments including guitar into a new sound.
<br>FROM JAPAN


            <br><br>
            作曲家・ソロギタリスト。
            <br>12歳より始めたソロギター活動・アコースティックサウンドを軸とし、エレクトロ,EDM,ダンスミュージックを融合した心地よいエモーショナルなサウンドを作り出している。
            インスト、ロック、エレクトロ、ダンスミュージックなどの幅広いジャンルからインスピレーションを受けつつ、ギター含む様々な楽器を演奏してきた経験を元にを新たなサウンドに昇華させている。
            <br>日本出身
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="news">
    <h2 class="section-title"><a href="/news/all">News</a></h2>
    <div class="recent-posts-container">
      {recentPosts.map(post => (
        <div class="recent-post">
          <a href={post.url} class="recent-post-link">
            {post.frontmatter.title}
          </a>
        </div>
      ))}
    </div>
    <button class="btn"><a href=/../news/all>All News</a></button>
  </section>

  <section id="works">
    <h2 class="section-title">Works</h2>

    <p class="text-gray-700 mt-4">New Music</p>
    <div class="soundcloud-embed">
    <iframe 
    width="100%" 
    height="300"
    scrolling="no" 
    frameborder="no" 
    allow="autoplay" 
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1697885880&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
  </iframe>
  <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/dsuke-d" title="Dsuke" target="_blank" style="color: #cccccc; text-decoration: none;">Dsuke</a> · <a href="https://soundcloud.com/dsuke-d/lastapril-soundcloud" title="LastApril" target="_blank" style="color: #cccccc; text-decoration: none;">LastApril</a></div>
  </div>
  <div class="spotify-embed">
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/1BRcYw0zfUhy0gVtE7P5Ki?utm_source=generator&theme=0" width="100%" height="200" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
<Slider />

</section>









  <section id="contact">
    <h2 class="section-title">Contact/SNS</h2>
    <div class="footer footer-center text-base-content ">
    <Nav />

    </div>
  </section>
</Layout>
