---
// src/pages/index.astro
import Layout from '../layouts/testLayout.astro';
import '../styles/global.css';
import { Image } from 'astro:assets';
import myImage from "../image/Dsuke icon.png";
---
<Layout title="Dsuke's EPK">
  <section id="about"> 
    <div class="wrapper">
      <div class="column cat2 rounded-lg shadow-2xl">
        <Image src={myImage} alt="Dsuke"/>
      </div>
      <div class="column cat1">
        <div class="info">
          <h2 class="section-title">About "Dsuke"</h2>
          <p class="py-6">
            作曲家・ソロギタリスト。
            Dsukeの音楽性の根幹となる長年のソロギターの経験を活かし、アコースティックサウンドとダンスミュージックを融合したエモーショナルなサウンドを作り出す。
            インスト、ロック、エレクトロ、ダンスミュージックなどの幅広いジャンルからインスピレーションを受け、演奏してきた経験を新たなサウンドに昇華させている。
            FROM JAPAN
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="biography">
    <div class="wrapper">
      <div class="column bioText">
    <h2 class="section-title">Biography</h2>
    <p class="text-gray-700 mt-4">ここに略歴を記載します。</p>
    </div>
    <div class="column">
    <ul class="timeline timeline-vertical">
      <li>
        <div class="timeline-start">1998</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-end timeline-box">born
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-start">2011</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-end timeline-box">Start Guitar</div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-start">2017</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-end timeline-box">Start Make Song</div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-start">2022</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-end timeline-box">IT  carrer</div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-start">2015</div>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-end timeline-box">Apple Watch</div>
      </li>
    </ul>
    </div>
    </div>
  </section>

  <section id="works">
    <h2 class="section-title">Works</h2>
    <p class="text-gray-700 mt-4">New Music</p>
    <div class="soundcloud-embed">
    <iframe 
    width="100%" 
    height="300"
    scrolling="no" 
    frameborder="no" 
    allow="autoplay" 
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1697885880&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
  </iframe>
  <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/dsuke-d" title="Dsuke" target="_blank" style="color: #cccccc; text-decoration: none;">Dsuke</a> · <a href="https://soundcloud.com/dsuke-d/lastapril-soundcloud" title="LastApril" target="_blank" style="color: #cccccc; text-decoration: none;">LastApril</a></div>
  </div>
  <div class="spotify-embed">
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/1BRcYw0zfUhy0gVtE7P5Ki?utm_source=generator&theme=0" width="100%" height="200" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
</section>

  <section id="contact">
    <h2 class="section-title">Contact/SNS</h2>
    <p class="text-gray-700 mt-4">ここに連絡先情報やSNSのリンクを記載します。</p>
  </section>
</Layout>
