---
// src/components/Header.astro
import '../styles/global.css';
import Nav from '../components/nav.astro';
import { ViewTransitions } from 'astro:transitions';
import DsukeLogo from '../image/DsukeロゴFullName.svg';
---
<ViewTransitions />
<header class="fixed top-0 left-0 w-full shadow-sm z-50 bg-base-200 text-base-content">
<nav>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a href="/#about">About &quot;Dsuke&quot;</a></li>
          <li><a href="/news/all">News</a></li>
          <li><a href="/#works">Works</a></li>
          <li><a href="/#contact">Contact/SNS</a></li>
        </ul>
      </div>
      <h1 class="btn btn-ghost text-xl">
        
        <a href="#">
        <img src={DsukeLogo.src} alt="Dsuke"  class="DsukeLogo"/>
        </a>
      </h1>
    
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/#about">About &quot;Dsuke&quot;</a></li>
        <li><a href="/news/all">News</a></li>
        <li><a href="/#works">Works</a></li>
        <li><a href="/#contact">Contact/SNS</a></li>
      </ul>
    </div>
    <div class="navbar-end">
    <Nav />
  </div>
</nav>

</header>